@import '../blocks/variables';

.block-9 {
  .container {
      display: flex;
      flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__text {
    position: relative;
    align-self: center;
    margin: 0;
    max-width: 688px;
    margin: 60px 0;
    line-height: 24px;
    font-size: 18px;
    color: #000000;

    &::before {
      content: "";
      width: 3px;
      height: 141px;
      position: absolute;
      background: #256095;
      top: 0;
      left: -26px;
    }
  }
}