@import '../blocks/variables';


.block-7 {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  &__partners-page {
    .container {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
  }
  &__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    &_allpartners {
      top:90%; 
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    align-self: center;

    @include mobile {
      flex-direction: column;
      padding-bottom: 40px;
      width: 100%;
    }

    &_btn {
      flex-direction: column;
      padding-bottom: 0;
      }
  }
  &__subtitle {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-blue;
  font-weight: 300;
  }

  &__text {
    max-width: 50%;
    margin: 0;
    color: $light-blue;
    line-height: 26px;
    font-size: 18px;
    font-weight: 300;

    @include mobile {
      max-width: 100%;
      margin-bottom: 15px ;
      font-size: 16px;
    }

  }

  &__img-container {
    max-width: 304px;
    align-self: center;
    margin-bottom: 86px;

    @include mobile {
      max-width: 70%;
      margin-bottom: 43px ;
    }
  }

  &__img {
    width: 100%;
  }
}