@import '../blocks/variables';

.block-4 {
    padding-top: 102px;
    position: relative;
    overflow: hidden;

    @include mobile {
        padding-top: 50px;
    } 

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    &__bg{
        height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__title {
        align-self: center;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        line-height: 48px;
        letter-spacing: 0.04em;
        color: $soft-blue;
        font-size: 36px;
        font-weight: 900;

        @include mobile {
            font-size: 26px;
            line-height: 34px;
        } 
    }

    &__item {
        display: flex;
        align-items: center;
        margin-top: 35px;

        @include mobile {
            flex-direction: column;
        } 

        &_left {
            align-self: flex-start;
        }

        &_center {
            align-self: center;
        }

        &_right {
            align-self: flex-end;
        }
    }

    &__img {

        @include mobile {
            width: 40%;
            margin-bottom: 25px;
        } 
    }

    &__text-wrapper {
        margin-left: 50px;
        max-width: 461px;
        font-weight: 300;

        @include mobile {
            margin-left: 0;
        }
    }

    &__text {
        margin-top: 24px;
        line-height: 26px;
        letter-spacing: 0.01em;
        font-size: 18px;

        @include small-mobile {
            line-height: 23px;
            font-size: 16px;
        } 
    }

    &__subtitle {
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: $dark-blue;
        font-size: 18px;
        font-weight: 500;
    }
}