@import '../blocks/variables';

.block-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  
  .container {
      display: flex;
      flex-direction: column;
  }
  &__item {
    display: flex;
    margin-bottom: 44px;

    @include mobile {
      flex-direction: column;
    }
  }
  &__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 32px;
  }

  &__img-container {
    max-width: 498px;
    margin-right: 38px;
  }

  &__img {
    width: 100%;
  }

  &__content {
    max-width: 551px;
  }
  &__subtitle {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 32px;
    position: relative;

    @include mobile {
      font-size: 24px;
    }

    &:before {
      content:'';
      width: calc(100% + 70px);
      position: absolute;
      background: $light-blue ;
      height: 2px;
      bottom: 0;
      left: -68px;

      @include mobile {
        width: calc(100% + 30px);
        left: 0px;
      }
    }

    &_mod::before {
      left: 0;
    }
  }
  &__text {
    margin: 0;
    line-height: 23px;
    font-size: 18px;
    color: #000000;
  }
  &__link {
    text-decoration: none;
    color: $light-blue ;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

  }
}