@import '../blocks/variables';

.arrow-icon {
  width: 26px;
  height: 33px;
  vertical-align: bottom;

  path{
    fill: $dark-blue;
  }

  &_rotate {
    transform: rotate(90deg);
    align-self: flex-end;
  }
}  

.pages {
  align-self: center;
  list-style: none;
  padding: 0;
  display: flex;
  height: 45px;
  align-items: flex-end;
  align-self: center;
  justify-content: space-evenly;
  max-width: 106px;


  &__page {
    color: inherit;
    font-size: 24px;
    padding-right: 10px;
    width: 30px;

  }

  &__link {
    text-decoration: none;

    &_text {
      font-size: 24px;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: 900;
    }
    &_partners {
      color: #000000;
      font-size: 36px;

      &:hover,
      &:active {
        color: $light-blue;
        font-size: 48px;
      }
    }
  }
}