@import '../blocks/variables';

.form {
  &__subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__block {
    display: flex;
    margin-bottom: 65px;
  }
  &__label {
    width: 100%;
    &_s {
      max-width: 327px;
      margin-right: 130px;
    }
   }

  &__txt {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;


  }
  &__input {
    border: 2px solid #3E66AC;
    box-sizing: border-box;
    border-radius: 14px;
    outline: none;
    display: block;
    height: 43px;
    width: 100%;
    font-size: 18px;
    padding: 0px 15px;
    resize: none;

    &_big {
      height: 148px;
      width: 100%;
      padding-top: 10px;
    }
  }

  &__footnote {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 18px;
    position: relative;
    display: inline-block;

  }
  &__required-dot {
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #CC3327;
      position: absolute;
      top: 35%;
      right: -15px;
    }
  }
}

