@import '../blocks/variables';

.tab {
  display: none;
  // display: flex;
  &_active {
    display: flex;
    flex-direction: column;
  }
}

.block-10__link-item_active {
  color: #3C78BD;
  font-weight: 700;
}
